<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
</head>
<body>
       <div> 
               <div>
                   {{#if success_msg}}
                        <div>
                                <h6>{{success_msg}}</h6>
                        </div>
                   {{/if}}    

                   {{#if errror_msg}}
                        <div>
                                <h6>{{errror_msg}}</h6>
                        </div>
                   {{/if}}    

                   {{#if error}}
                        <div>
                                <h6>{{error}}</h6>
                        </div>
                   {{/if}}    
               </div>
                <div>
                <h4>LoginApp</h4>
                <ul>
                        {{#if user}}
                        <li><a href="/dashboard"> dashboard</a></li>
                        <li><a href="/logout">logout</a></li>
                        {{else}}
                        <li><a href="/login">login</a></li>
                        <li><a href="/registration">register</a></li>
                        {{/if}}
                        
                </ul>
                </div>
               {{{body}}}
        </div>
</body>
</html>